# Core
langchain>=0.1.0
langchain-community
langchain-openai
crewai>=0.28.0
crewai-tools
chromadb
tiktoken
pypdf
markdown

# Utilidades
python-dotenv
tqdm
ipykernel   # si quieres usar Jupyter

# Opcional para embeddings locales (si no usas OpenAI)
# sentence-transformers
